.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4px;
  word-wrap: break-word;
  max-height: 29px;
  overflow: hidden;
}

.text {
  font-size: 1.2rem;
  padding-left: 6px;
  word-wrap: break-word;
  max-height: 72px;
  overflow: hidden;
}

.actions {
  position: absolute;
  bottom: 8px;
  right: 18px;
  display: flex;
  gap: 16px;
  font-size: 0.8rem;
}

.actions svg {
  cursor: pointer;
}

.done {
  position: absolute;
  border: 1px solid var(--main-color);
  width: 110%;
  top: 45%;
  left: -5%;
}
