.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: calc(100% - 51px);
  padding: 24px;
}

.submit {
  display: flex;
  gap: 8px;
}

.column {
  display: flex;
  flex-direction: column;
}

#textarea {
  height: 100%;
}