.textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
}

textarea {
  border-radius: 8px;
  padding: 8px;
  border: none;
  outline: none;
  resize: none;
  height: 100%;
}

textarea:focus {
  outline: 1px solid var(--main-color);
}